.app {
  display: grid;
  place-items: center;
  background-image: url("starry_night_192398.jpg");
  top: 20px;
  height: 100vh;
}

.app_body {
  opacity: 0.98;
  position: relative;
  top: 20px;
  display: flex;
  background-color: #212121;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}