.app {
  display: grid;
  place-items: center;
  background-color: #181818;
  height: 100vh;
}

.app_body {
  display: flex;
  background-color: #212121;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}