.chat {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  border-left: 2px solid rgb(57, 55, 55);
}
.chat__header {
  background-color: #3a3a3a;
  display: flex;
  padding-top: 10px;
  align-items: center;
  box-shadow: 0 2px 2px rgba(0,0,0,0.25098039215686274);
  max-height: 90vh;
}

.chat__headerInfo {
  display: flex;
  flex: 1;
  padding-left: 1.125rem;
  margin-bottom: 10px;
}

.chat__headerIcon{
  padding-left: 30px;
}

.chat__headerInfo > h3{
font-weight: 500;
font-size: 1.125rem;
line-height: 1.375rem;
white-space: pre;
overflow: hidden;
text-overflow: ellipsis;
unicode-bidi: plaintext;
color: white;

}

.chat__headerInfo > p {
  margin-top: 40px;
  font-size: .875rem;
  line-height: 1.125rem;
  color: rgb(170, 170, 170);
  white-space: nowrap;
  position: absolute;
}
.chat__body{
  flex: 1;
  scrollbar-width: thin;
  scrollbar-color: rgba(90,90,90,0) transparent;
  overflow-y:scroll;
  background-image: url("../public/backscreen.png");
  overflow: auto;
  padding: 40px;
}


.chat__message{

  color: white;
  box-shadow: 0px 2px 10px #000000;
  font-size: 20px;
  position: relative;
  background-color: #212121;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin-top: 12px;
  margin-bottom: 40px;
}

.chat__messageReceived{
  margin-left: auto;
  background-color: #766ac8;
}

.chat__name{
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: x-small;
  font-weight: 500;
}

.time__stamp{
  margin-left: 10px;
  font-size: x-small;
}

.chat__footer {
  background-color: #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-right: 10px;
  padding-left: 10px;
}

.chat__footerIcons{
  display: flex;
}

.chat__footerIcons > .MuiSvgIcon-root{
  color: gray;
  padding: 3px;
}


.chat__footer > form{
  flex: 1;
  display: flex;
}

.chat__footer > form > input{
  background-color: #515050;
  flex: 1;
  border-radius: 30px;
  border: none;
  padding: 10px;
  margin: 10px;
  outline: none;
}

.chat__footer > form > button {
  display: none;
}

.emoji-picker-react{
  margin-top: -330px;
  position: absolute;
}

.emoji__selection{
  position: absolute;
}

.attachmentMenu{
  position: absolute;
  bottom: 50px;
  left: 21%;
}
.attachmentMenu > ul{
  list-style-type: none;
}
.attachmentMenu > ul > li:not(:last-child) { 
  margin-bottom: 1px;  
}