.sidebar{
  flex: 0.2;
  background-color: #2c2c2c;
  height: 90vh;
}
.sidebar__header {
  background-color: #3a3a3a;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-right: 0.5px solid rgb(57, 55, 55);
}
.sidebar__headerRight{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1vw;
}
.sidebar__search{
  display: flex;
  align-items: center;
  background-color: #2c2c2c;
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid rgb(57, 55, 55);
}
.sidebar__searchContainer{
  display: flex;
  align-items: center;
  background-color: #515050;
  width: 100%;
  height: 90%;
  border-radius: 10px;
}
.sidebar__searchContainer > input{
  background-color: #515050;
  border: none;
  margin-left: 5%;
  width: 100%;
  height: 90%;
  border-radius: 10px;
}
.sidebar__searchContainer > ::placeholder {
  color: #a2acb4;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
  margin-left: 15px;
  color: #a2acb4;
  background-color: #515050;
}

.sidebar__chats {
  flex: 1;
  max-height: 75%;
  align-items: center;
  overflow-y: scroll;
  background-color: #2c2c2c;
  scrollbar-width: thin;
  border-radius: 1.75rem;
  overflow-x: hidden;
  scrollbar-color: rgba(90,90,90,0);
}
