.sidebarChat {
  display: flex;
  padding: 3px;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: #2c2c2c;
  border-radius: 0.75rem;
  border-bottom: 1px solid rgb(57, 55, 55);
  
}

.sidebarChat__profilePic{
  margin-left: 5px;
  align-items: center;
  padding-top: 15px;
  padding-left: 3px;
}
.sidebarChat:hover{
  background-color:rgb(64, 63, 63);
}
.sidebarChat__info{
  font-size: 16px;
font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI",Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
color: rgb(170, 170, 170);
font-weight: 400;
line-height: 1.5;
  margin-left: 15px;
  margin-top: -0.125rem;
  text-decoration:none !important;

}

.sidebarChat__info > h2{
  margin-bottom: 0px;
  font-size: 16px;
  font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI",Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 400;
  color: white;
}

a {
  text-decoration: none !important;
  color: black;
}